
<h1>Your Plants:</h1><br>

<div class="plant_content"></div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div><br>
  <% end %>

<% @plants.by_name.each do |p| %>
<p><%= p.name %></p>  
<p><%= link_to "View Plant", user_plant_path(current_user, p.id), class: "plant_view" %></p>
<p><%= link_to "Delete", [current_user, p], method: :delete, data: { confirm: "Really?" } %></p>


<% end %>

<script id="plant-template" type="text/x-handlebars-template">

        
<h2>{{name}}</h2>


<p>Light: {{light}}</p> <br>

<p>Watering: {{watering}}</p> <br>

<p>Note: {{comment}}</p> 

<p><a class="plant_edit" href="/users/<%= @user.id %>/plants/{{id}}/edit">Edit 
Plant</a></p><br>

<p>*  *  *</p>
</script>