<h1>Plants#show</h1>
<p>Find me in app/views/plants/show.html.erb</p>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div><br>
  <% end %>

<h2><%= @plant.name %></h2>


<p>Light: <%= @plant.light %></p> <br>

<p>Watering: <%= @plant.watering %></p> <br>

<p>Note: <%= @plant.comment.note %></p>

<p><%= link_to "Edit Plant", edit_user_plant_path(current_user, @plant.id) %></p>
